<%- include("./partials/header.ejs") %>
<%- include("./partials/adminheader.ejs") %>


<div class="introheading">ALL POSTS</div>

<div class="searchResult">
<% data.forEach(function(ele){ %>       
  <div class="postCollection">
     
        <div class="postColletionInside">    
            <div class="postContainer">
                <h5> Company Name: <%= ele.companyName %> </h5>
                <ul> 
                    <li>Sponsor Type: <%=ele.sponsorType %></li>
                    <li>Duration Period: <%=ele.durationNo %></li> 
                    <li>Contact No: <%=ele.contactNo  %></li> 
                    <li>Contact Email: <%=ele.contactEmail %></li>
                </ul>
            </div> 
            <div class="postLogo">
                    <img src="<%=ele.logo%>" alt="No IMG"></img>
            </div>
        </div>  
        <div class="smallButton" style="display: flex; width:100%;">
                    <button class="smallSubmit" > <a href="/<%=ejsUsername%>/0/<%=ele._id%>/">Edit </a></button>
                    
                    <form action="/<%=ejsUsername%>/0/<%=ele._id%>?_method=DELETE" method="POST">
                    <button class="smallSubmit" id="delete">Delete</button>
                </form>
        </div> 
    </div>
<% }) %>
</div>

<%- include("./partials/footer.ejs") %>